# Data Science Tools and Ecosystem

In this notebook, Data Sicence Tool and Ecosystems are summarized.

Some of the popular languages that Data Scientitst use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Python   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

__Objectives:__
* Markdown
* Running Code
* Using stupid file names
* Taking screenshots like an idiot
* This list

## Author
Zain Naboulsi